# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out

# Big files to ignore
*.exe
*.jar
*.zip
*.rar

#IDE files to ignore (Netbeans, Eclipse, IntelliJ IDEA)
nbproject/private/
.classpath
.project
.settings
.gradle
.idea
*.iml

#ignore generated .class files
*.class
bin
build

#except this file
!.gitignore
